body {
    margin: 0;
    font-family: Roboto, Noto, sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #eeeeee;
  }


  .card_main {
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }